.statistics{
    display: block;
    margin: auto;
    width: 350px;
    border-style:double;
    border-radius: 5px;
    border-color: black;
}

.title{
    text-align: center;
    margin-top: 0;
}

.startList{
    margin: auto;
     list-style: none;
    display: flex;
        padding-left: -20px;
        justify-items: space-around;
}

.items{
    display: flex;
        flex-direction: column;
        text-align: center;
        width: 70px;
        align-items: center;
        border-style:groove;
        border-width: 5px;

}
