.transactionHistory {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    max-width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.transactionHistory td,
.transactionHistory th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

.transactionHistory tbody td {
    font-size: 13px;
    color: #333333;
}

.transactionHistory tr:nth-child(even) {
    background: #D0E4F5;
}

.transactionHistory thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

.transactionHistory thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

.transactionHistory thead th:first-child {
    border-left: none;
}

.transactionHistory tfoot td {
    font-size: 14px;
}